// Variables 
$color-yellow-orange: rgb(255, 172, 28);
$color-light-grey: linear-gradient(180deg, #E4EfE9, #E4EfE9);



* {
    margin: 0;
    padding: 0;
    // border: 2px solid red;
}




html {
    background-color: #02B0BA;
}

hr {
    width: 50%;
    margin: 0 auto;
}

.webDev {
    font-size: 1rem;
    font-weight: bolder;
    
}

.profDesc {
    font-size: 20px;
}
.navBar {
    margin-top: 10px;
    padding: 15px;
    background-color: rgb(255, 172, 28);
}
.links {
    position: relative;
    height: 10px;
    margin: 5px;
    text-decoration: none;
    color: #faebd7;
    letter-spacing: 2px;
    margin: 20px;
}


.link::after {
    content: '';
    position: absolute;
    background-color: #01B0B9;
    height: 3px;
    top: 25px;
    left: -5px;
    width: 0;
    transition: 0.2s;
}
.link-2 {
 padding-left: 10px;
 padding-right: 5px;
}

.links:hover {
    color: #206ce656;
}

.link:hover::after {
    width: 76px;
}

.pillProj, .pillTools {
    width: 200px;
    background-color: $color-yellow-orange;
}

.navLeftMost {
    font-family: 'Montserrat', sans-serif;
    background-color: $color-yellow-orange;
}

.profile {
    background-image: linear-gradient(180deg, #02AABD, #00CDAC);

    &Pic {
        width: 390px;
        border-radius: 250px 750px 250px 750px /
        750px 250px 750px 250px;
        animation: wobble 10s ease-in-out alternate-reverse infinite;
    }

    @keyframes wobble {

        25% {
            border-radius: 51% 49% 60% 40% / 25% 70% 30% 75% 
        }
        50% {
            border-radius: 51% 49% 51% 49% / 34% 51% 49% 66% 
        }

        75% {
            border-radius: 43% 57% 51% 49% / 54% 39% 61% 46% 
        }

        100% {
            border-radius: 30% 70% 32% 68% / 68% 31% 69% 32% 
        }
    }
}

img {
    width: 150px;
    aspect-ratio: 1;
    object-fit: scale-down;
    border-width: 0;
}

.img {
    &__1,
    &__2,
    &__3 {
        width: 250px;
    }
}
 
.myProjects {
    background-image: linear-gradient(180deg, #00CDAC, #E3963E);
}

.myTools {
    background-image: linear-gradient(180deg, #E3963E, #E4EfE9);
    background-color: rgb(255, 191, 0);
}

.contactMe {
    background-image: $color-light-grey;
}

.pillCont {
    align-items: center;
    border-radius: 40px;
    margin: auto;
    width: 300px;
}

.pillCont a {
    text-decoration: none;
}

.theFooter {
    background-color: $color-light-grey;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    bottom: 0;
}

// Hover effect for icons and contact button
.linkedIcons, #contact {
    // The transition propery to select
    transition-property: transform;
    // The duration the animation needs to take to finish
    transition-duration: 0.2s;
    // Dictates how the animation should go about it's transition. Common possible values are ease-in, ease-in-out, ease-out
    transition-timing-function: ease;
    // Defines the delay before the transition effect starts
    transition-delay: 0s;

    /*
    // Shorthand propery transition
    transition: transform 0.3 ease 0s;
    */

    /*
    // You can shorten it even more if you remove 0s as it is default.
    transition: transform 0.3 ease;
    */
}

.linkedIcons:hover, #contact:hover {
    transform: translateY(-7px);
}


/*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #ecf0f1;

*/