* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #E4EfE9;
}

hr {
  width: 50%;
  margin: 0 auto;
}

.webDev {
  font-size: 1rem;
  font-weight: bolder;
}

.profDesc {
  font-size: 20px;
}

.proj,
.tools,
.cont {
  padding-top: 10%;
  text-decoration: none;
  color: rgb(250, 235, 215);
}

.pillProj, .pillTools {
  width: 200px;
  background-color: rgb(255, 172, 28);
}

.navLeftMost {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 172, 28);
}

.profile {
  background-image: linear-gradient(180deg, #02AABD, #00CDAC);
}
.profilePic {
  width: 390px;
}

img {
  width: 150px;
}

.img__1, .img__2, .img__3 {
  width: 300px;
}

.myProjects {
  background-image: linear-gradient(180deg, #00CDAC, #E3963E);
}

.myTools {
  background-image: linear-gradient(180deg, #E3963E, #E4EfE9);
  background-color: rgb(255, 191, 0);
}

.contactMe {
  background-image: linear-gradient(180deg, #E4EfE9, #E4EfE9);
}

.pillCont {
  align-items: center;
  border-radius: 40px;
  margin: auto;
  width: 300px;
}

.pillCont a {
  text-decoration: none;
}

.theFooter {
  background-color: linear-gradient(180deg, #E4EfE9, #E4EfE9);
}
